



#ProfileDiv {
    display:flex;
    justify-content: center;
align-items: center;
text-align: center;
margin: 30px;



}
.MyCard .myPic {

   width:300px;
    height: auto;

}
.MyCard{
    width :300px;
   
}